<%- include("./shared/header")%>
<body>
  <div class="container py-5">
    <div class="text-end">
      <a
        href="/user/logout"
        class="btn btn-danger m-2 px-4 rounded-0 text-white"
        >Logout</a
      >
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <div class="card p-5 my-5 text-center rounded-5 ">
          <img src="<%=user?.profilePic%>" alt="" class="w-25 mx-auto mb-3" />
          <h1 class="fw-bold"><%=user?.userName%></h1>
          <a
            href="<%=user?.shareLink%>"
            target="_blank"
            class="btn btn-light share mt-3 rounded-0"
            >Share Profile</a
          >
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="p-5 my-5 border border-success text-center">
          <h2 class="mb-5">Profile</h2>
          <form
            action="/user/profilePic"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="form-group my-2">
              <input class="form-control rounded-0" type="file" name="image" required />
            </div>
            <div class="form-group my-2">
              <button class="btn btn-success w-100 rounded-0">Upload</button>
            </div>
          </form>
        </div>
      </div> -->
    </div>

    <div class="card p-5 my-5 rounded-0 ">
      <h2 class="fw-bold">Your Messages</h2>
      <div
        class="row justify-content-center align-items-center my-2"
      >
        <%for(let i = 0; i < messages.length; i++){%>
        <div class="col-md-8 p-2">
          <div class="card bg-light rounded-0 p-2">
            <div class="d-flex align-items-end justify-content-between gap-5">
              <p class="mb-0 fs-5"><%=messages[i].message%></p>
              <a
                href="/message/<%=messages[i]._id%>/delete"
                class="btn btn-danger rounded-0"
                >Delete</a
              >
            </div>
          </div>
        </div>
        <%} %>
      </div>
    </div>
  </div>

  <%- include("./shared/script")%>
  <script src="./shared/js/signup.js"></script>
</body>
